
     <!DOCTYPE html>
     <html xmlns:th="http://www.thymeleaf.org">
     
     
     <head>
       <meta charset="UTF-8">
  
         <title>Alumnos</title>
         
     </head>
      <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">rut</th>
      <th scope="col">curso</th>

    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row">1</th>
      <td >Francisca</td>
      <td>Manquecheo</td>
      <td>20589425-7</td>
      <td>Artes Modernas</td>
    </tr>
       <tr>
      <th scope="row">2</th>
      <td >Gabriela</td>
      <td>Perez</td>
      <td>21568452-3</td>
      <td>Ingles Medio</td>
    </tr>
    </tbody>
  </table>
  <style>
    table, th, td {
        border:1px solid black;
    font-size: 40px;
    }
    </style>